include README.md
include LICENCE
include couplet_composer/dependencies/lua/CMakeLists.txt
include couplet_composer/github/graphql/github_asset.graphql
include couplet_composer/github/graphql/github_repository.graphql
include couplet_composer/github/graphql/github_tag.graphql
